body{
	background-color:  maroon;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: 300%;
}

h1{
	background-color: black;
	background-image:url(head.jpg);
	background-size: 100%;
	color: gold;
	text-align: center;
	border-radius: 25px;
	
}


h2{
	color: gold;
	text-align: center;
}


p{
	text-align: center;
	color: gold;
}

form{
	text-align: center;
}

.input{
	background-color: black;
	border: inset;
	border-color: gold;
	border-radius: 25px;
	color: gold;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	
}
.frame {
    text-align: center;
    position: relative;
    left: 0%; 
    right: 0%; 
}
.image {
    width: 80%; 
    left: 10%;
    top: 15%; 
    z-index: -1;
    border: gold;
    border-style: double;
    border-width: 5px;
}


.button {
	position: relative;
	background-color: gold;
	border: double;
	border-radius: 25px;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button:hover {
		background-color: green;
}

.button:active{
	background-color: grey;
	
}